@import url('https://fonts.googleapis.com/css2? family= Cinzel & family= Montserrat:wght@100;200;400;800;900 & family= Open+Sans:wght@400; 700 & família= Roboto:wght@300;900 & display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
.fundo_top{
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #934954;
}

.logo1{
    height: 100px;
    width: 300px;
    position: absolute;
    left: 20px;
    top: 5px;
}

.menu-h{
    position: relative;
    top: 101px;
    list-style: none;
    padding: 0;
    background-color: #934954;
    text-align: center;
}


.menu-h li{
    display: inline;
}

.menu li a{
    font-family: 'Cinzel';
    font-size: 20px;
    display: inline;
    color: white;
    text-decoration: none;
    padding: 40px;
    justify-items: center;
    
}

.menu li a:hover{
    color: #cecdcd ;
    transition: all 0.2s ease;
}

.sacola{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 200px;
    top: 35px;
    display: flex;
}


/* botao cadastro*/
div.container{
    width: 170px;
    height: 37px;
    position: absolute;
    right: 15px;
    top: 35px;
    display: flex;
}

.login{
    padding: 5px 10px;
    font-family: 'Cinzel';
    font-size: 18px;
    background-color: #934954;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.login:hover{
    background-color: 	#934954;
    color: white;
    border: 1px solid white;
}

.login a {
    text-decoration: none;
    color: white;
}

/*fim botao cadastro*/ 

/*inicio barra de busca*/
.search-box{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #934954;
    height: 45px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}
.search-txt{
    font-family: 'Cinzel';
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 0;
  
}

::-webkit-input-placeholder{
    color: #b76e79;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #934954;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-box > .search-txt{
    width: 240px;
    padding: 0 6px;
}

/*fim barra de busca*/

/*cards inicio*/

.container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo1{
    font-size: 2.5em;
    font-family: 'Cinzel';
    text-align: center;
    margin-top: 150px;
    margin-bottom: 25px;
}

.card{
    background-color: white;
    width: 300px;
    height: 415px;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0 , 0, 0.2);
}

.imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px 50px;
}

.coracao{
    width: 20px;
    height: 20px;
    margin: 8px 25px;
    cursor: pointer;
}

.card h2 {
    font-size: 26px;
    margin: 5px;
    text-align: center;
}

.card-texto1 {
    font-size: 1.0em;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    color:gray;
}

.card-texto2{
    font-size: 25px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
}

.card a {
    background-color:#803D49;
    color: white;
    padding: 10px 25px;
    text-align: center;
    margin: 10px 70px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card:hover{
    background-color: lightgray;
    color: black;
    transform: scale(1.03);
    transition: all 1s ease;
}

.card a:hover{
    transition: 1s;
    background-color: #b1636f;
    color: white;
}

/*cards fim*/

/*inicio footer*/
footer{
    background-color: #934954;
    padding: 50px 0;
    width: 100%;
    height: 290px;
    position: absolute;
    top: 5850px;
}

.container-footer{
    max-width: 14400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul{
    list-style: none;
}

.footer-col li{
    margin: 10px 0;
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #cecdcd ;
    padding-left: 10px;
}

.footer-col .medias-socias{
    margin-top: 30px;
}

.footer-col .medias-socias a{ 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: blueviolet;
    background-color: white;
}
/*fim footer*/